.booking-tour-form {
    .submit-form,
    .create-trip {
        textarea,
        input.form-control {
            min-height: 40px;
            background-color: white;
            border: none;
            color: #170604;
        }
        .react-datepicker-wrapper {
            width: 100%;
        }
        .react-select__control {
            border: none;
            min-height: 40px;
        }
        textarea::placeholder,
        .react-select__placeholder,
        input.form-control::placeholder {
            font-style: italic;
            color: rgb(124, 124, 124);
        }
        .type-button {
            height: 40px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            padding: 4px 20px;
            background: white;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-style: italic;
            cursor: pointer;
            margin: 0 5px;

            &.active {
                background: #284525;
                color: #d0d0d0;
            }

            img {
                height: 17px;
                margin-top: 5px;
                width: auto;
                object-fit: contain;
            }
        }
    }
}

.quote-form {
    .panel {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .trip-info {
            font-style: italic;
            font-size: 15px;
            .icon {
                width: 50px;
            }
        }
        .destination-flow-item {
            position: relative;
            color: black;
            img.start {
                height: 39.5px;
                margin-left: 6px;
                margin-bottom: -10px;
            }
            img.plus {
                margin-left: 14px;
                height: 45px;
            }
            img.last {
                margin-left: 6px;
                height: 56px;
            }
            label {
                position: absolute;
                left: 50px;
                font-size: 13px;
                top: 13px;
                text-transform: capitalize;
            }
            &:first-child {
                label {
                    top: -2px;
                }
            }
        }
    }
}