.counter-input {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        width: 50px;
        text-align: center;
    }
    span {
        margin: 0 5px;
        cursor: pointer;
    }
    span img {
        width: 20px;
    }
    label {
        height: 40px;
        background-color: white;
        margin-bottom: 0;
        padding: 10px;
        flex: 1;
        margin-right: 10px;
        font-style: italic;
        color: #170604;
    }
}